body {
    background-color: rgb(203, 228, 228);
}



.cabecalho {
    color: black;
    display: inline-block;
    background-color: rgb(88, 185, 181);
    
}
li {
    display: inline-block;
   width: 70px;
    
}

.tabela { 
   display: inline-block;
   height: 300px;
   width: 360px;
 text-align:initial;
   border-style: double;
   background-color: rgb(155, 252, 252);
   
}
img {
    height: 300px;
    
}

footer {
    background-color: aqua;
    border-style:dotted;
}